

/* _|   _    __|    __|
  |    __/   _|   __         _|  (_-<  (_-<
___|  _|    _|    ____/  _)  __|  ___/  ___/

See: https://github.com/ipfs-shipyard/ipfs-ui-style-guide/blob/master/theme.json
*/

.navy { color: #0b3a53; }
.navy-muted { color: #244e66; }
.aqua { color: #69c4cd; }
.aqua-muted { color: #9ad4db; }
.gray { color: #b7bbc8; }
.gray-muted { color: #d9dbe2; }
.charcoal { color: #34373f; }
.charcoal-muted { color: #7f8491; }
.red { color: #ea5037; }
.red-muted { color: #f36149; }
.yellow { color: #f39021; }
.yellow-muted { color: #f9a13e; }
.teal { color: #3e9096; }
.teal-muted { color: #439a9d; }
.green { color: #0cb892; }
.green-muted { color: #0aca9f; }
.snow { color: #edf0f4; }
.snow-muted { color: #f7f8fa; }
.bg-navy { background-color: #0b3a53; }
.bg-navy-muted { background-color: #244e66; }
.bg-aqua { background-color: #69c4cd; }
.bg-aqua-muted { background-color: #9ad4db; }
.bg-gray { background-color: #b7bbc8; }
.bg-gray-muted { background-color: #d9dbe2; }
.bg-charcoal { background-color: #34373f; }
.bg-charcoal-muted { background-color: #7f8491; }
.bg-red { background-color: #ea5037; }
.bg-red-muted { background-color: #f36149; }
.bg-yellow { background-color: #f39021; }
.bg-yellow-muted { background-color: #f9a13e; }
.bg-teal { background-color: #3e9096; }
.bg-teal-muted { background-color: #439a9d; }
.bg-green { background-color: #0cb892; }
.bg-green-muted { background-color: #0aca9f; }
.bg-snow { background-color: #edf0f4; }
.bg-snow-muted { background-color: #f7f8fa; }
.border-navy: { border-color: #0b3a53; }
.border-navy-muted: { border-color: #244e66; }
.border-aqua: { border-color: #69c4cd; }
.border-aqua-muted: { border-color: #9ad4db; }
.border-gray: { border-color: #b7bbc8; }
.border-gray-muted: { border-color: #d9dbe2; }
.border-charcoal: { border-color: #34373f; }
.border-charcoal-muted: { border-color: #7f8491; }
.border-red: { border-color: #ea5037; }
.border-red-muted: { border-color: #f36149; }
.border-yellow: { border-color: #f39021; }
.border-yellow-muted: { border-color: #f9a13e; }
.border-teal: { border-color: #3e9096; }
.border-teal-muted: { border-color: #439a9d; }
.border-green: { border-color: #0cb892; }
.border-green-muted: { border-color: #0aca9f; }
.border-snow: { border-color: #edf0f4; }
.border-snow-muted: { border-color: #f7f8fa; }

/* ---- font ----- */
.sans-serif { font-family: 'Inter UI', system-ui, sans-serif; }
.sans-serif-alt: { font-family: 'Montserrat', 'Verdana', system-ui, sans-serif; }
.monospace: { font-family: Consolas, monaco, monospace; }
.fs-0: { font-size: 12px; }
.fs-1: { font-size: 14px; }
.fs-2: { font-size: 16px; }
.fs-3: { font-size: 20px; }
.fs-4: { font-size: 24px; }
.fs-5: { font-size: 32px; }
.fs-6: { font-size: 48px; }
.fs-7: { font-size: 64px; }
.fs-8: { font-size: 72px; }
.fs-9: { font-size: 96px; }

/* ---- space ----- */
.m0 { margin: 0px; }
.mx0 { margin-left: 0px; margin-right: 0px; }
.my0 { margin-top: 0px; margin-bottom: 0px; }
.mt0 { margin-top: 0px; }
.ml0 { margin-left: 0px; }
.mb0 { margin-bottom: 0px; }
.mr0 { margin-right: 0px; }
.m1 { margin: 4px; }
.mx1 { margin-left: 4px; margin-right: 4px; }
.my1 { margin-top: 4px; margin-bottom: 4px; }
.mt1 { margin-top: 4px; }
.ml1 { margin-left: 4px; }
.mb1 { margin-bottom: 4px; }
.mr1 { margin-right: 4px; }
.m2 { margin: 8px; }
.mx2 { margin-left: 8px; margin-right: 8px; }
.my2 { margin-top: 8px; margin-bottom: 8px; }
.mt2 { margin-top: 8px; }
.ml2 { margin-left: 8px; }
.mb2 { margin-bottom: 8px; }
.mr2 { margin-right: 8px; }
.m3 { margin: 16px; }
.mx3 { margin-left: 16px; margin-right: 16px; }
.my3 { margin-top: 16px; margin-bottom: 16px; }
.mt3 { margin-top: 16px; }
.ml3 { margin-left: 16px; }
.mb3 { margin-bottom: 16px; }
.mr3 { margin-right: 16px; }
.m4 { margin: 32px; }
.mx4 { margin-left: 32px; margin-right: 32px; }
.my4 { margin-top: 32px; margin-bottom: 32px; }
.mt4 { margin-top: 32px; }
.ml4 { margin-left: 32px; }
.mb4 { margin-bottom: 32px; }
.mr4 { margin-right: 32px; }
.m5 { margin: 64px; }
.mx5 { margin-left: 64px; margin-right: 64px; }
.my5 { margin-top: 64px; margin-bottom: 64px; }
.mt5 { margin-top: 64px; }
.ml5 { margin-left: 64px; }
.mb5 { margin-bottom: 64px; }
.mr5 { margin-right: 64px; }
.m6 { margin: 128px; }
.mx6 { margin-left: 128px; margin-right: 128px; }
.my6 { margin-top: 128px; margin-bottom: 128px; }
.mt6 { margin-top: 128px; }
.ml6 { margin-left: 128px; }
.mb6 { margin-bottom: 128px; }
.mr6 { margin-right: 128px; }
.m7 { margin: 256px; }
.mx7 { margin-left: 256px; margin-right: 256px; }
.my7 { margin-top: 256px; margin-bottom: 256px; }
.mt7 { margin-top: 256px; }
.ml7 { margin-left: 256px; }
.mb7 { margin-bottom: 256px; }
.mr7 { margin-right: 256px; }
.p0 { padding: 0px; }
.px0 { padding-left: 0px; padding-right: 0px; }
.py0 { padding-top: 0px; padding-bottom: 0px; }
.pt0 { padding-top: 0px; }
.pl0 { padding-left: 0px; }
.pb0 { padding-bottom: 0px; }
.pr0 { padding-right: 0px; }
.p1 { padding: 4px; }
.px1 { padding-left: 4px; padding-right: 4px; }
.py1 { padding-top: 4px; padding-bottom: 4px; }
.pt1 { padding-top: 4px; }
.pl1 { padding-left: 4px; }
.pb1 { padding-bottom: 4px; }
.pr1 { padding-right: 4px; }
.p2 { padding: 8px; }
.px2 { padding-left: 8px; padding-right: 8px; }
.py2 { padding-top: 8px; padding-bottom: 8px; }
.pt2 { padding-top: 8px; }
.pl2 { padding-left: 8px; }
.pb2 { padding-bottom: 8px; }
.pr2 { padding-right: 8px; }
.p3 { padding: 16px; }
.px3 { padding-left: 16px; padding-right: 16px; }
.py3 { padding-top: 16px; padding-bottom: 16px; }
.pt3 { padding-top: 16px; }
.pl3 { padding-left: 16px; }
.pb3 { padding-bottom: 16px; }
.pr3 { padding-right: 16px; }
.p4 { padding: 32px; }
.px4 { padding-left: 32px; padding-right: 32px; }
.py4 { padding-top: 32px; padding-bottom: 32px; }
.pt4 { padding-top: 32px; }
.pl4 { padding-left: 32px; }
.pb4 { padding-bottom: 32px; }
.pr4 { padding-right: 32px; }
.p5 { padding: 64px; }
.px5 { padding-left: 64px; padding-right: 64px; }
.py5 { padding-top: 64px; padding-bottom: 64px; }
.pt5 { padding-top: 64px; }
.pl5 { padding-left: 64px; }
.pb5 { padding-bottom: 64px; }
.pr5 { padding-right: 64px; }
.p6 { padding: 128px; }
.px6 { padding-left: 128px; padding-right: 128px; }
.py6 { padding-top: 128px; padding-bottom: 128px; }
.pt6 { padding-top: 128px; }
.pl6 { padding-left: 128px; }
.pb6 { padding-bottom: 128px; }
.pr6 { padding-right: 128px; }
.p7 { padding: 256px; }
.px7 { padding-left: 256px; padding-right: 256px; }
.py7 { padding-top: 256px; padding-bottom: 256px; }
.pt7 { padding-top: 256px; }
.pl7 { padding-left: 256px; }
.pb7 { padding-bottom: 256px; }
.pr7 { padding-right: 256px; }